form {
	text-align: center;
}

#header {
	text-align: center;
}
.pain-scale {
	width: 700px;
	height: 250px;
}

.human-image  {
	width: 400px;
	height: 600px;
	margin-top: 100px
}

#assessmentbtn {
	position: absolute;
	margin-top: 50px;
	 left: 48%;
	 background-color: lightgrey;
	 padding: 10px;
}