.signupInput {
	width: 100%;
	border-radius: 25px;
	padding: 10px;
}

.signupCard {
	width: 60%;
	margin: auto;
}

.signupHeader, .signupBtn {
	background-color: #8FBC8F;
	font-family: 'Asar', serif;
}

.signupHeader {
	padding-top: 100px;
	font-size: 35px;
}

.signupErrorMsg {
	color: red;
}

.signupBody {
	background-color: #F5F5F5;
}

.signupBtn {
	width: 100%;
}