.loginInput {
	width: 100%;
	border-radius: 25px;
	padding: 10px;
}

.loginCard {
	width: 60%;
	margin: auto;
}

.loginHeader, .loginBtn {
	background-color: #8FBC8F;
	font-family: 'Asar', serif;
}

.loginHeader {
	padding-top: 100px;
	font-size: 35px;
}

.errorMsg {
	color: red;
}

.loginBody {
	background-color: #F5F5F5;
}

.loginBtn {
	width: 100%;
}