.loggedOutNav, .loginNav {
	background-color: #739A49;
}

.navbar-brand {
	color: white;
	font-size: 27px;
}

.navbar-brand:hover {
	color: white;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color: #696969;
}




